FUTURE VALUES 
($100 today at 3% interest rate for 1 year)

In [1]:
100*(1+0.03)

103.0

now 3 years

In [4]:
100*(1+0.03)**3

109.2727

In [7]:
5000*(1+.04)**4

5849.292800000001

calculating PV

how many dollar saved today at 4.35% interest to have 110, 1 year from now

In [9]:
pv=110/(1+.045)
pv

105.26315789473685

now 3 years

In [12]:
pv=110/((1+0.045)**3)
pv

96.39262644604003

In [13]:
print(10000/(1.0525)**5)

7742.647319937532

INTEREST RATES

INVEST 90 AND GET 93.5 1 YEAR LATER

In [14]:
r=(93.5/90)-1
r

0.03888888888888897

3 years

In [16]:
r=(93.5/90)**(1/3)-1
r

0.012798463496144663

In [19]:
90*(1.012)**3

93.27903552

price returns
invest 50 today get 56.5 1 year

In [20]:
56.5/50-1

0.1299999999999999

also a dividend of $2

In [24]:
((56.5+2)/50)-1

0.16999999999999993

total return = 16.9%

price return = 12.9%

yield = total - price = 16.9-12.9

yield return = 4%

In [25]:
div_yield = 2/50
div_yield

0.04

confirmation of dividend yield

In [30]:
print((5500/5000)**(1/4)-1)

0.02411368908444511

In [31]:
pv = 10000
pv+=5000
print(pv)

15000

cashflow for more than 1 project
Today you have 100 USD in your savings account and you save another

10 USD in t1
20 USD in t2
50 USD in t3
30 USD in t4
25 USD in t5. (each cf at periodÂ´s end)
Calculate the FV of your savings account after 5 years given an interest rate of 3% p.a.

In [1]:
FV = 100 * 1.03**5 + 10 * 1.03**4 + 20 * 1.03**3 + 50 * 1.03**2 + 30 * 1.03 + 25
FV

257.98203553

zero base indexing:

In [2]:
cf=[100,10,20,50,30,25]
cf[0]

100

negative indexing:
starts from the end of list from -1

In [3]:
cf[-1]

25

In [4]:
cf[-3]

50

In [6]:
cf[-6]-cf[0]

0

In [9]:
n=[0,1,2,3,4,5]

In [8]:
f=1.03

In [13]:
FV = cf[0] * f**n[-1] + cf[1] * f**n[-2] + cf[2] * f**n[-3] + cf[3] * f**n[-4] + cf[4] * f**n[-5] + cf[5] * f**n[-6]

In [14]:
FV

257.98203553

How many USD do we save over the 5 years period (sum)?

In [16]:
total=0
for i in cf:
    total +=i
    print(total)

100
110
130
180
210
235

In [17]:
sum(cf)

235

Return all Cashflows in EUR by applying current USD/EUR Conversion Rate of 1.12 (1.12 USD per 1 EUR).

In [25]:
for i in cf:
    print(round(i/1.12,2))

89.29
8.93
17.86
44.64
26.79
22.32

In [28]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
range(3,10)

range(3, 10)

In [32]:
n=range(10)

In [34]:
n[4]

4

In [35]:
n[9]

9

In [37]:
for i in n:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [40]:
for i in n:
    print(i*2)

0
2
4
6
8
10
12
14
16
18

In [45]:
for i in n:
    print(i*2+sum(n))

45
47
49
51
53
55
57
59
61
63

In [43]:
sum(n)

45

In [47]:
for i in n:
    print(i**3)

0
1
8
27
64
125
216
343
512
729

Future Values

Today you have 100 USD in your savings account and you save another

10 USD in t1
20 USD in t2
50 USD in t3
30 USD in t4
25 USD in t5. (each cf at periodÂ´s end)
Calculate the FV of your savings account after 5 years given an interest rate of 3% p.a.

In [48]:
cf

[100, 10, 20, 50, 30, 25]

In [50]:
n=list(range(6))
n

[0, 1, 2, 3, 4, 5]

In [51]:
n=n[::-1]
n

[5, 4, 3, 2, 1, 0]

In [52]:
f

1.03

In [63]:
fv=0
for i in range(6):
    fv+= cf[i]*f**n[i]
    #print(round(fv,2))

print(round(fv,2))

257.98

Present Values

Today you agreed on a payout plan that guarantees payouts of

50 USD in t1,
60 USD in t2,
70 USD in t3,
80 USD in t4,
100 USD in t5. (each cf at periodÂ´s end)
Calculate the Funding amount / PV that needs to be paid into the plan today (t0). Assume an interest rate of 4% p.a.

In [65]:
cf = [50, 60, 70, 80, 100]

In [66]:
f=1.04

In [69]:
pv=0

for i in range(5):
    pv+=cf[i]/f**(i+1)
    print(round(pv,2))

print(f'The PV is: {round(pv,2)}')

48.08
103.55
165.78
234.16
316.36
The PV is: 316.36

Calculate an Investment ProjectÂ´s NPV
The XYZ Company evaluates to buy an additional machine that will increase future profits/cashflows by

20 USD in t1,

50 USD in t2,

70 USD in t3,

100 USD in t4,

50 USD in t5. (each cf at periodÂ´s end)

The machine costs 200 USD (Investment in to). Calculate the ProjectÂ´s NPV and evaluate whether XYZ should pursue the project.
XYZÂ´s required rate of return (Cost of Capital) is 6% p.a.

In [71]:
npv=-200
cf=[20,50,70,100,50]
f=1.06

for i in range(5):
    npv+=cf[i]/f**(i+1)

print(f'The NPV is: {round(npv,2)}')

The NPV is: 38.71

In [73]:
npv=-250
cf=[20,50,70,100,50]
f=1.06

for i in range(5):
    npv+=cf[i]/f**(i+1)

print(f'The NPV is: {round(npv,2)}')

The NPV is: -11.29