In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
%matplotlib inline

In [2]:
assets= yf.download(['PG','^GSPC'], period='5Y')['Adj Close']

[*********************100%***********************]  2 of 2 completed

beta is calculated on basis of last 5 years

In [3]:
assets.head()

                                  PG        ^GSPC
Date
2018-04-16 00:00:00-04:00  68.696854  2677.840088
2018-04-17 00:00:00-04:00  68.539558  2706.389893
2018-04-18 00:00:00-04:00  68.338570  2708.639893
2018-04-19 00:00:00-04:00  66.104492  2693.129883
2018-04-20 00:00:00-04:00  65.090225  2670.139893

In [4]:
assets.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2018-04-16 00:00:00-04:00 to 2023-04-14 00:00:00-04:00
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PG      1259 non-null   float64
 1   ^GSPC   1259 non-null   float64
dtypes: float64(2)
memory usage: 29.5 KB

In [5]:
assets.tail()

                                   PG        ^GSPC
Date
2023-04-10 00:00:00-04:00  150.960007  4109.109863
2023-04-11 00:00:00-04:00  150.660004  4108.939941
2023-04-12 00:00:00-04:00  151.070007  4091.949951
2023-04-13 00:00:00-04:00  151.770004  4146.220215
2023-04-14 00:00:00-04:00  151.000000  4137.640137

In [6]:
sec_return= np.log(assets/assets.shift(1))

In [7]:
sec_return

                                 PG     ^GSPC
Date
2018-04-16 00:00:00-04:00       NaN       NaN
2018-04-17 00:00:00-04:00 -0.002292  0.010605
2018-04-18 00:00:00-04:00 -0.002937  0.000831
2018-04-19 00:00:00-04:00 -0.033238 -0.005743
2018-04-20 00:00:00-04:00 -0.015462 -0.008573
...                             ...       ...
2023-04-10 00:00:00-04:00 -0.008312  0.000996
2023-04-11 00:00:00-04:00 -0.001989 -0.000041
2023-04-12 00:00:00-04:00  0.002718 -0.004143
2023-04-13 00:00:00-04:00  0.004623  0.013176
2023-04-14 00:00:00-04:00 -0.005086 -0.002072

[1259 rows x 2 columns]

In [8]:
cov= sec_return.cov()*250

In [9]:
cov

             PG     ^GSPC
PG     0.046716  0.027171
^GSPC  0.027171  0.047039

In [10]:
cov_w_market = cov.iloc[0,1]
cov_w_market

0.02717145918615179

In [12]:
market_var= sec_return['^GSPC'].var()*250

In [13]:
market_var

0.04703899755258782

# BETA

In [14]:
PG= cov_w_market/market_var

In [15]:
PG

0.5776368672775206

pg greater than zero and less than 1, this is a defensive stock

In [16]:
#check beta w market

# expected return of pg(capm)

Rpg= rf+Bim(rm-rf)

In [18]:
pg_er= .025+ PG*.05
pg_er

0.05388184336387603

# SHARPE RATIO 

=(Rpg-Rf)/std(pg)

In [21]:
Sharpe = (pg_er - 0.025)/ (sec_return['PG'].std()*250**.05)

In [22]:
Sharpe

1.6031167543563085