In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [64]:
tickers= yf.download(['PG','BEI.DE'], period='16Y')['Adj Close']

[*********************100%***********************]  2 of 2 completed

In [3]:
tickers.head()

                              BEI.DE         PG
Date
2007-04-10 22:00:00+00:00  42.434391        NaN
2007-04-11 22:00:00+00:00  42.386631        NaN
2007-04-12 04:00:00+00:00        NaN  39.882263
2007-04-12 22:00:00+00:00  42.705082        NaN
2007-04-13 04:00:00+00:00        NaN  39.794357

In [4]:
ticker_returns=np.log(tickers/tickers.shift(1))

In [21]:
ticker_returns

                             BEI.DE        PG
Date
2007-04-10 22:00:00+00:00       NaN       NaN
2007-04-11 22:00:00+00:00 -0.001126       NaN
2007-04-12 04:00:00+00:00       NaN       NaN
2007-04-12 22:00:00+00:00       NaN       NaN
2007-04-13 04:00:00+00:00       NaN       NaN
...                             ...       ...
2023-04-05 22:00:00+00:00       NaN       NaN
2023-04-06 04:00:00+00:00       NaN       NaN
2023-04-10 04:00:00+00:00       NaN -0.008312
2023-04-10 22:00:00+00:00       NaN       NaN
2023-04-11 04:00:00+00:00       NaN       NaN

[8093 rows x 2 columns]

In [30]:
tickers.tail()

                               BEI.DE          PG
Date
2023-04-05 22:00:00+00:00  121.300003         NaN
2023-04-06 04:00:00+00:00         NaN  152.220001
2023-04-10 04:00:00+00:00         NaN  150.960007
2023-04-10 22:00:00+00:00  121.400002         NaN
2023-04-11 04:00:00+00:00         NaN  150.660004

# PG SD

In [18]:
ticker_returns['PG'].mean()

-0.0007781704254786595

In [19]:
ticker_returns['PG'].mean()*250

-0.19454260636966486

In [20]:
ticker_returns['PG'].std()

0.010739093336613553

In [44]:
ticker_returns['PG'].std()*250**0.5
#taking square root of 250(variance)

0.16979997474418068

# BEI

In [42]:
ticker_returns['BEI.DE'].mean()
ticker_returns['BEI.DE'].mean()*250
ticker_returns['BEI.DE'].std()
ticker_returns['BEI.DE'].std()*250**0.5

0.15436518109633657

In [43]:
ticker_returns['BEI.DE'].std()*250**0.5

0.15436518109633657

In [29]:
ticker_returns['BEI.DE'].mean()*250

0.11634284508984864

# COMPARING BOTH

mean of both values

In [57]:
ticker_returns[['PG','BEI.DE']].mean()*250

PG       -0.194543
BEI.DE    0.116343
dtype: float64

risk of both stocks/values

In [58]:
ticker_returns[['PG','BEI.DE']].std()*250**.5

PG        0.169800
BEI.DE    0.154365
dtype: float64

In [50]:
pg= yf.download(['PG','BEI.DE'], period='7Y')['Adj Close']
pg.head(15)

[*********************100%***********************]  2 of 2 completed

                              BEI.DE         PG
Date
2016-04-10 22:00:00+00:00  73.122917        NaN
2016-04-11 22:00:00+00:00  73.801300        NaN
2016-04-12 04:00:00+00:00        NaN  68.029594
2016-04-12 22:00:00+00:00  74.393707        NaN
2016-04-13 04:00:00+00:00        NaN  67.725700
2016-04-13 22:00:00+00:00  75.301407        NaN
2016-04-14 04:00:00+00:00        NaN  67.907860
2016-04-14 22:00:00+00:00  75.406509        NaN
2016-04-15 04:00:00+00:00        NaN  68.148003
2016-04-17 22:00:00+00:00  75.798256        NaN
2016-04-18 04:00:00+00:00        NaN  68.586884
2016-04-18 22:00:00+00:00  78.578705        NaN
2016-04-19 04:00:00+00:00        NaN  68.959473
2016-04-19 22:00:00+00:00  78.301613        NaN
2016-04-20 04:00:00+00:00        NaN  67.526978

# COVARIANCE

In [65]:
PG_var=ticker_returns['PG'].var()
PG_var

0.0001153281256924976

In [66]:
BEI_var=ticker_returns['BEI.DE'].var()
BEI_var

9.531443653961915e-05

In [68]:
PG_vara= PG_var*250
PG_vara

0.0288320314231244

In [70]:
BEI_vara=BEI_var*250
BEI_vara

0.02382860913490479

In [72]:
cov_matrix= ticker_returns.cov()
cov_matrix

          BEI.DE        PG
BEI.DE  0.000095       NaN
PG           NaN  0.000115

In [74]:
cov_matrixa= cov_matrix*250
cov_matrixa

          BEI.DE        PG
BEI.DE  0.023829       NaN
PG           NaN  0.028832

In [75]:
cov_matrixx= ticker_returns.cov()*250
cov_matrixx

          BEI.DE        PG
BEI.DE  0.023829       NaN
PG           NaN  0.028832

# correlation

In [76]:
corr_matrix= ticker_returns.corr()
corr_matrix

        BEI.DE   PG
BEI.DE     1.0  NaN
PG         NaN  1.0

# AAPL & F

In [2]:
data= yf.download(['F','AAPL'], period='16Y')['Adj Close']

[*********************100%***********************]  2 of 2 completed

In [3]:
data.head()

                               AAPL         F
Date
2007-04-16 00:00:00-04:00  2.779206  4.934010
2007-04-17 00:00:00-04:00  2.746377  4.823409
2007-04-18 00:00:00-04:00  2.747897  4.804976
2007-04-19 00:00:00-04:00  2.743945  4.755819
2007-04-20 00:00:00-04:00  2.765222  4.761964

In [9]:
data_returns=np.log(data/data.shift(1))
data_returns.head()

                               AAPL         F
Date
2007-04-16 00:00:00-04:00       NaN       NaN
2007-04-17 00:00:00-04:00 -0.011883 -0.022671
2007-04-18 00:00:00-04:00  0.000553 -0.003829
2007-04-19 00:00:00-04:00 -0.001439 -0.010283
2007-04-20 00:00:00-04:00  0.007724  0.001291

In [98]:
c= data_returns.cov()*250
c

          AAPL         F
AAPL  0.103373  0.054241
F     0.054241  0.189828

In [94]:
aapl_var=data_returns['AAPL'].var()
aapl_var

0.00041349206610689855

In [95]:
aapl_vara= aapl_var*250
aapl_vara

0.10337301652672463

In [100]:
f_var= data_returns['F'].var()
f_var

0.000759311839586807

In [102]:
f_vara= f_var*250
f_vara

0.18982795989670176

In [103]:
a=(data_returns['AAPL'].var())*250
a

0.10337301652672463

In [104]:
f= (data_returns['F'].var())*250
f

0.18982795989670176

In [14]:
m= data_returns.corr()*250
m

            AAPL           F
AAPL  250.000000   96.705401
F      96.705401  250.000000

In [13]:
c= data_returns.cov()*250
c

          AAPL         F
AAPL  0.103375  0.054185
F     0.054185  0.189811

# PORTFOLIO RISK

In [108]:
w = np.array([0.5,0.5])

PORTFOLIO VARIANCE

In [15]:
pfolio_var= (np.dot(w.T, np.dot(c,w)))
pfolio_var

0.10038899605884372

portfolio volatility

In [16]:
pfolio_vol= (np.dot(w.T, np.dot(c,w)))**0.5
pfolio_vol

0.3168422258141167

In [114]:
print(str(round(pfolio_vol,5)*100)+ '%')

31.689%

# CALCULATING DIVERSIFIABLE AND UNDIVERSIFIABLE RISK

In [4]:
w = np.array([0.5,0.5])

In [5]:
w[0]

0.5

In [6]:
w[1]

0.5

In [10]:
var_a=data_returns['AAPL'].var()*250
var_a

0.10337527118697369

In [11]:
var_f=data_returns['F'].var()*250
var_f

0.18981064790265417

In [17]:
d_risk= pfolio_var -(w[0]**2*var_a)-(w[1]**2*var_f)
d_risk

0.027092516286436746

In [18]:
print(str(round(d_risk*100,3))+'%')

2.709%

NON DIVERSIFIABLE RISK

In [20]:
n_dr1= pfolio_var- d_risk
n_dr1

0.07329647977240697

In [23]:
n_dr2= (w[0]**2*var_a)+(w[1]**2*var_f)
n_dr2

0.07329647977240697

In [24]:
n_dr1==n_dr2

True

In [25]:
#if we subtract d_Risk from the whole variance or we sum the weighted annual variance our outcome shall b same